coverage==4.4.1
docker-py==1.10.6
flake8==3.3.0
ipdb==0.10.3
ipython==6.0.0
pyodbc==4.0.16
pytest==3.1.0
pytest-cov==2.5.1
pytest-sugar==0.8.0
sphinx==1.6.1
sphinxcontrib-asyncio==0.2.0
uvloop==0.8.0
